<!--
 Post sharing snippet
-->

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">{{ site.data.label.post.share | default: 'Share' }}</span>
  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign url = page.url | absolute_url %}

    {% for share in site.data.share.platforms %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url %}
        <a href="{{ link }}" data-toggle="tooltip" data-placement="top"
          title="{{ share.type }}" target="_blank" rel="noopener" aria-label="{{ share.type }}">
          {{ share.svg }}
        </a>
    {% endfor %}

    <a style="cursor:copy;" onclick="navigator.clipboard.writeText(window.location.href)" data-toggle="tooltip" data-placement="top" title="Copy link">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M14 8H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V10c0-1.103-.897-2-2-2z"/><path fill="currentColor" d="M20 2H10a2 2 0 0 0-2 2v2h8a2 2 0 0 1 2 2v8h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/></svg>
    </a>

  </span>
</div>
