<!--
  The paginator for post list on HomgPage.
-->

<ul class="pagination mt-4 mb-0 pl-lg-2">
  <!-- left arrow -->
  {% if paginator.previous_page %}
    {% assign prev_url = paginator.previous_page_path | relative_url %}
  {% else %}
    {% assign prev_url = "#" %}
  {% endif %}
  <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
    <a class="page-link btn-box-shadow" href="{{ prev_url }}" aria-label="previous-page">
      <svg xmlns="http://www.w3.org/2000/svg" width="0.75em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 384 512"><path fill="currentColor" d="M365.46 357.74L147.04 255.89l218.47-101.88c16.02-7.47 22.95-26.51 15.48-42.53l-13.52-29C360 66.46 340.96 59.53 324.94 67L18.48 209.91a32.014 32.014 0 0 0-18.48 29v34.24c0 12.44 7.21 23.75 18.48 29l306.31 142.83c16.06 7.49 35.15.54 42.64-15.52l13.56-29.08c7.49-16.06.54-35.15-15.53-42.64z"/></svg>
    </a>
  </li>

  <!-- page numbers -->
  {% assign left_ellipsis = false %}
  {% assign right_ellipsis = false %}

  {% for i in (1..paginator.total_pages) %}

    {% assign pre = paginator.page | minus: 1 %}
    {% assign next = paginator.page | plus: 1 %}
    {% assign pre_less = pre | minus: 1 %}
    {% assign next_more = next | plus: 1 %}
    {% assign show = false %}

    {% if paginator.page == 1 %}
      {% if i <= 3 or i == paginator.total_pages %}
        {% assign show = true %}
      {% endif %}
    {% elsif paginator.page == paginator.total_pages %}
      {% if i == 1 or i >= pre_less %}
        {% assign show = true %}
      {% endif %}
    {% else %}
      {% if i == 1 or i == paginator.total_pages%}
        {% assign show = true %}
      {% elsif i >= pre and i <= next %}
        {% assign show = true %}
      {% endif %}
    {% endif %}

    {% if show %}
      <!-- show number -->
      <li class="page-item {% if i == paginator.page %} active{% endif %}">
        <a class="page-link btn-box-shadow" href="{{ site.baseurl }}/{% if i > 1%}page{{ i }}/{% endif %}">{{ i }}</a>
      </li>
    {% else %}
      <!-- hide number -->
      {% if i < pre and left_ellipsis == false %}
        <li class="page-item disabled">
          <span class="page-link btn-box-shadow">...</span>
        </li>
        {% assign left_ellipsis = true %}
      {% elsif i > next and right_ellipsis == false %}
        <li class="page-item disabled">
          <span class="page-link btn-box-shadow">...</span>
        </li>
        {% assign right_ellipsis = true %}
      {% endif %}
    {% endif %}

  {% endfor %}

  <!-- right arrow -->
  {% if paginator.next_page_path %}
    {% assign next_url = paginator.next_page_path | relative_url %}
  {% else %}
    {% assign next_url = "#" %}
  {% endif %}
  <li class="page-item {% unless paginator.next_page_path %}disabled{% endunless %}">
    <a class="page-link btn-box-shadow" href="{{ next_url }}" aria-label="next-page">
      <svg xmlns="http://www.w3.org/2000/svg" width="0.75em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 384 512"><path fill="currentColor" d="M365.52 209.85L59.22 67.01c-16.06-7.49-35.15-.54-42.64 15.52L3.01 111.61c-7.49 16.06-.54 35.15 15.52 42.64L236.96 256.1L18.49 357.99C2.47 365.46-4.46 384.5 3.01 400.52l13.52 29C24 445.54 43.04 452.47 59.06 445l306.47-142.91a32.003 32.003 0 0 0 18.48-29v-34.23c-.01-12.45-7.21-23.76-18.49-29.01z"/></svg>
    </a>
  </li>

</ul> <!-- .pagination -->
