<!--
  The Top Bar
-->

<div id="topbar-wrapper" class="row justify-content-center topbar-down">
  <div id="topbar" class="col-11 d-flex h-100 align-items-center justify-content-between">
    <span id="breadcrumb">
      {% for item in page.breadcrumb %}
        {% if item.url %}
        <span>
          <a href="{{ site.baseurl }}{{ item.url | remove: '.html'}}">
            {{ item.label }}
          </a>
        </span>
        {% else %}
          <span>{{ item.label }}</span>
        {% endif %}
      {% endfor %}

      {% unless page.layout == "home" %}
        <span>{{ page.title }}</span>
      {% endunless %}

    </span><!-- endof #breadcrumb -->

    <svg id="sidebar-trigger" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1536 1280"><path fill="currentColor" d="M1536 1088v128q0 26-19 45t-45 19H64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 704V576q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 192V64q0-26 19-45T64 0h1408q26 0 45 19t19 45z"/></svg>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.title -}}
      {% elsif page.dynamic_title %}
        {{- page.title -}}
      {% else %}
        {{- page.layout | capitalize -}}
      {% endif %}
    </div>

    <svg id="search-trigger" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z"/></svg>
    <span id="search-wrapper" class="align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z"/></svg>
      <input class="form-control" id="search-input" type="search"
        aria-label="search" placeholder="{{ site.data.label.search_hint | default: 'Search' }}...">
        <svg id="search-cleaner" class="clear-search" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" d="M15 15L9 9m6 0l-6 6"/><circle cx="12" cy="12" r="10"/></g></svg>
    </span>
    <span id="search-cancel" >Cancel</span>
  </div>

</div>
